.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 96px;
  gap: 32px;
  justify-items: center;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 48px;
    gap: 24px; 
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    padding-inline: 16px; 
    gap: 16px
  }
}

.no-items {
  font-size: 24px;
  color: #42307D;
  grid-column: span 3;
  text-align: center;
}